@cr8w:registry=https://registry.figma.com/npm/ce4a3132-d671-4eb3-86fc-c586bacd062c/registry/
//registry.figma.com/npm/ce4a3132-d671-4eb3-86fc-c586bacd062c/registry/:_authToken=${FIGMA_REGISTRY_TOKEN}
